.about-wrapper {
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    /* stack on smaller screens */
}

.about-img {
    flex: 1;
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-content {
    flex: 2;
    font-size: 20px;
    line-height: 1.7;
    color: #f1f1f1;
}

.about-content p {
    margin-bottom: 1rem;
}

.about-title {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #29aef6f5;
    font-weight: 600;
}